<h3 class="ui header">{{t "forms.i-i-s-serezha90-регистр-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-serezha90-регистр-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-serezha90-регистр-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.время
      class=(if (v-get validationModel "время" "isInvalid") "error")
      label=(t "forms.i-i-s-serezha90-регистр-e.время-caption")
      data-test-i-i-s-serezha90-регистр-e-время=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "время" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-serezha90-регистр-e.сумма-caption")
      data-test-i-i-s-serezha90-регистр-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодЗазака
      class=(if (v-get validationModel "кодЗазака" "isInvalid") "error")
      label=(t "forms.i-i-s-serezha90-регистр-e.кодЗазака-caption")
      data-test-i-i-s-serezha90-регистр-e-кодЗазака=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодЗазака" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-serezha90-регистр-e.заказы-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.заказы
      displayAttributeName="время"
      autocomplete=true
      relationName="заказы"
      projection="ЗаказыL"
      title=(t "forms.i-i-s-serezha90-регистр-e.заказы-caption")
      readonly=readonly
      componentName="заказыLookup"
      class=(if (v-get validationModel "заказы" "isInvalid") "error")
      data-test-i-i-s-serezha90-регистр-e-заказы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заказы" "message")}}
  </div>
</form>
