<h3 class="ui header">{{t "forms.i-i-s-serezha90-заказы-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодЗаказа
      class=(if (v-get validationModel "кодЗаказа" "isInvalid") "error")
      label=(t "forms.i-i-s-serezha90-заказы-e.кодЗаказа-caption")
      data-test-i-i-s-serezha90-заказы-e-кодЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодЗаказа" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-serezha90-заказы-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-serezha90-заказы-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.время
      class=(if (v-get validationModel "время" "isInvalid") "error")
      label=(t "forms.i-i-s-serezha90-заказы-e.время-caption")
      data-test-i-i-s-serezha90-заказы-e-время=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "время" "message")}}
  </div>
  <div class="field" data-test-i-i-s-serezha90-заказы-e-типОплаты="true">
    <label>{{t "forms.i-i-s-serezha90-заказы-e.типОплаты-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-serezha90-тип-оплаты")
      value=model.типОплаты
      class=(if (v-get validationModel "типОплаты" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "типОплаты" "message")}}
  </div>
  <div class="field" data-test-i-i-s-serezha90-заказы-e-типВручения="true">
    <label>{{t "forms.i-i-s-serezha90-заказы-e.типВручения-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-serezha90-тип-получения")
      value=model.типВручения
      class=(if (v-get validationModel "типВручения" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "типВручения" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.колПерсон
      class=(if (v-get validationModel "колПерсон" "isInvalid") "error")
      label=(t "forms.i-i-s-serezha90-заказы-e.колПерсон-caption")
      data-test-i-i-s-serezha90-заказы-e-колПерсон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "колПерсон" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.комментарий
      class=(if (v-get validationModel "комментарий" "isInvalid") "error")
      label=(t "forms.i-i-s-serezha90-заказы-e.комментарий-caption")
      data-test-i-i-s-serezha90-заказы-e-комментарий=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "комментарий" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-serezha90-заказы-e.сумма-caption")
      data-test-i-i-s-serezha90-заказы-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодЗазака
      class=(if (v-get validationModel "кодЗазака" "isInvalid") "error")
      label=(t "forms.i-i-s-serezha90-заказы-e.кодЗазака-caption")
      data-test-i-i-s-serezha90-заказы-e-кодЗазака=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодЗазака" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-serezha90-заказы-e.номера-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.номера
      displayAttributeName="номерКомнаты"
      autocomplete=true
      relationName="номера"
      projection="НомераL"
      title=(t "forms.i-i-s-serezha90-заказы-e.номера-caption")
      readonly=readonly
      componentName="номераLookup"
      class=(if (v-get validationModel "номера" "isInvalid") "error")
      data-test-i-i-s-serezha90-заказы-e-номера=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номера" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-serezha90-заказы-e.сотрудник-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудник
      displayAttributeName="фамилия"
      autocomplete=true
      relationName="сотрудник"
      projection="СотрудникL"
      title=(t "forms.i-i-s-serezha90-заказы-e.сотрудник-caption")
      readonly=readonly
      componentName="сотрудникLookup"
      class=(if (v-get validationModel "сотрудник" "isInvalid") "error")
      data-test-i-i-s-serezha90-заказы-e-сотрудник=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудник" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-serezha90-заказы-e.клиенты-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиенты
      displayAttributeName="фамилия"
      autocomplete=true
      relationName="клиенты"
      projection="КлиентыL"
      title=(t "forms.i-i-s-serezha90-заказы-e.клиенты-caption")
      readonly=readonly
      componentName="клиентыLookup"
      class=(if (v-get validationModel "клиенты" "isInvalid") "error")
      data-test-i-i-s-serezha90-заказы-e-клиенты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиенты" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-serezha90-заказы-e.заказы-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.заказы
      displayAttributeName="время"
      autocomplete=true
      relationName="заказы"
      projection="ЗаказыL"
      title=(t "forms.i-i-s-serezha90-заказы-e.заказы-caption")
      readonly=readonly
      componentName="заказыLookup"
      class=(if (v-get validationModel "заказы" "isInvalid") "error")
      data-test-i-i-s-serezha90-заказы-e-заказы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заказы" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-serezha90-заказы-e.заказБлюд-caption"}}</label>
    {{flexberry-groupedit
      componentName="заказБлюдGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.заказБлюд
      content=model.заказБлюд
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "заказБлюд" "isInvalid") "error")
      data-test-i-i-s-serezha90-заказы-e-заказБлюд=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заказБлюд" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-serezha90-заказы-e.заказНапитков-caption"}}</label>
    {{flexberry-groupedit
      componentName="заказНапитковGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.заказНапитков
      content=model.заказНапитков
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "заказНапитков" "isInvalid") "error")
      data-test-i-i-s-serezha90-заказы-e-заказНапитков=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заказНапитков" "message")}}
  </div>
</form>
